.credit
  %h2.credit_head 支払い方法
  .credit_content
    %h3.credit_content_head クレジットカード一覧
    .credit_content_card
      %ul
        %li
          %form{:action => "/", :method => "post", class: "credit_content_card-inf"}
            %figure
              = image_tag '//www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?376951604', height: '20', width: '26'
            .credit_content_card_num
              = "**** **** **** #{@default_card_information.last4}"
            .credit_content_card_num
              - exp_month = @default_card_information.exp_month.to_s
              - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
              = exp_month + " / " + exp_year
            = link_to '削除する' ,delete_mypage_creditcard_index_path, method: :post, class: 'credit_content_card_remove-btn'

    = link_to '#', class: 'credit_content_about-link' do
      %span 支払い方法について
      = fa_icon 'chevron-right'


