- breadcrumb :card
.mypage-box
  %main.my-containercleanfix
    = render 'mypage/mypage-side'
    - if false
      = render "show-creditcard"
    - else
      = render "add-creditcard"
    -# クレジットカードがある場合はtrueでクレジットカードを表示する。
    -# falseの場合はクレジットカードが登録されてないので、新規登録が表示される

= render 'root/aside'
= render 'root/footer'
= render 'root/sell-button'
