.credit
  %h2.credit_head クレジットカード情報入力
  %form.credit_form{:action => "#", :method => "POST"}
    .credit_form-content
      .credit_form-group
        %label{:for => "card_no"} カード番号
        %span.required-tag 必須
        %input.credit_form_input{:maxlength => "19", :placeholder => "半角数字のみ", :type => "text", :value => ""}/
        %ul.credit-brand_list
          %li
            = image_tag '//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?376951604', height: '20', width: '49'
          %li
            = image_tag '//www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?376951604', height: '20', width: '34'
          %li
            = image_tag '//www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?376951604', height: '20', width: '30'
          %li
            = image_tag '//www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?376951604', height: '20', width: '32'
          %li
            = image_tag '//www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?376951604', height: '20', width: '21'
          %li
            = image_tag '//www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?376951604', height: '20', width: '32'
          %li
            = image_tag '//www-mercari-jp.akamaized.net/assets/img/card/discover.svg?376951604', height: '20', width: '32'
      .credit_form-group__mt
        %label 有効期限
        %span.required-tag 必須
        %br/
        .credit_form_select-wrap
          %select.credit_form_select-wrap_expire
            %option{:value => "01"} 01
            %option{:value => "02"} 02
            %option{:value => "03"} 03
            %option{:value => "04"} 04
            %option{:value => "05"} 05
            %option{:value => "06"} 06
            %option{:value => "07"} 07
            %option{:value => "08"} 08
            %option{:value => "09"} 09
            %option{:value => "10"} 10
            %option{:value => "11"} 11
            %option{:value => "12"} 12
          = fa_icon 'chevron-down', class: "credit_form_select-wrap_icon"
        %span 月
        %br/
        .credit_form_select-wrap
          %select.credit_form_select-wrap_expire
            %option{:value => "19"} 19
            %option{:value => "20"} 20
            %option{:value => "21"} 21
            %option{:value => "22"} 22
            %option{:value => "23"} 23
            %option{:value => "24"} 24
            %option{:value => "25"} 25
            %option{:value => "26"} 26
            %option{:value => "27"} 27
            %option{:value => "28"} 28
            %option{:value => "29"} 29
          = fa_icon 'chevron-down', class: "credit_form_select-wrap_icon"
        %span 年
      .form-group
        %label{:for => "payment_card_security_code"} セキュリティコード
        %span.required-tag 必須
        %input.credit_form_input{:placeholder => "カード背面4桁もしくは3桁の番号", :type => "number", :value => ""}/
        .credit_form_what-code
          .credit_form_what-code_text
            %span.credit_form_question> ?
            カード裏面の番号とは？
      %button.credit_form_btn{:type => "button"} 追加する
