= render 'root/header'
.mypage-box
  %main.my-containercleanfix
    .my-content
      = render 'mypage/mypage-user'
      = render 'mypage/mypage-tabs2'
      -# あとで作業
      %section.mypage-tab_container
    = render 'mypage/mypage-side'

= render 'root/aside'
= render 'root/footer'