= render 'root/header'
- breadcrumb :mypage
= breadcrumbs separator: " #{content_tag(:i, '', :class=>'fa fa-caret-right')} "
.mypage-box
  %main.my-containercleanfix
    .my-content
      = render 'mypage/mypage-user-icon'
      = render 'mypage/mypage-tabs2'
      -# あとで作業
      = render 'mypage/purchased-box'

    = render 'mypage/mypage-side'

= render 'root/aside'
= render 'root/footer'
