.registration-box

  = render "shared/simple-header2"

  .registration-main
    .registration-main-container
      %h2.registration-main-container_head
        会員情報入力
      = form_for(resource, as: resource_name, url: registration_path(resource_name), class: "registration-main-container_box") do |f|
        -# %input(情報入力先指定)
        .registration-main-container_box_input

          .registration-form-group-first
            %P.registration-form-group-first_label ニックネーム
            %span.required-tag 必須
            = f.text_field :nickname, class: "registration-form-group-first_input", placeholder: "例）メルカリ太郎"

          .registration-form-group
            %P.registration-form-group_label メールアドレス
            %span.required-tag 必須
            = f.text_field :email, class: "registration-form-group-first_input", placeholder: "例）PC・携帯どちらでも可"

          .registration-form-group
            %P.registration-form-group_label パスワード
            %span.required-tag 必須
            = f.password_field :password, class: "registration-form-group-first_input", placeholder: "6文字以上"

          .registration-form-group
            %P.registration-form-group_label パスワード再確認
            %span.required-tag 必須
            = f.password_field :password_confirmation, class: "registration-form-group-first_input", placeholder: "6文字以上"

          .registration-form-group-text
            %h3.registration-form-group-text_title 本人確認
            %p.registration-form-group-text_text 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。

          .registration-form-group
            %P.registration-form-group_label 姓 (全角)
            %span.required-tag 必須
            -# = f.text_field :first_name, class: "registration-form-group-first_input", placeholder: "例）山田"

          .registration-form-group
            %P.registration-form-group_label 名 (全角)
            %span.required-tag 必須
            -# = f.text_field :last_name, class: "registration-form-group-first_input", placeholder: "例）彩"

          .registration-form-group
            %P.registration-form-group_label 姓カナ (全角)
            %span.required-tag 必須
            -# = f.text_field :first_name_kana, class: "registration-form-group-first_input", placeholder: "例）ヤマダ"

          .registration-form-group
            %P.registration-form-group_label 名カナ (全角)
            %span.required-tag 必須
            -# = f.text_field :last_name_kana, class: "registration-form-group-first_input", placeholder: "例）アヤ"

          .registration-form-group-birthday
            %P.registration-form-group-birthday_label 生年月日
            %span.required-tag 必須
            .registration-form-group-birthday_input
              .select-wrap
                -# オプションを配列で選びたい（ルビーのヘルパーメソッド？時間がかかりそうなのであと回し）
                %select.select-default
                  %option ---
                  - for i in 1900..2019
                    %option{value: i}#{i}
                -# = fa_icon 'chevron-down', class: 'arrow-icon'
              %span 年

            .registration-form-group-birthday_input
              .select-wrap
                %select.select-default
                  %option ---
                  - for i in 1..12
                    %option{value: i}#{i}
                -# = fa_icon 'chevron-down', class: 'arrow-icon'
              %span 月

            .registration-form-group-birthday_input
              .select-wrap
                %select.select-default
                  %option ---
                  - for i in 1..31
                    %option{value: i}#{i}
                -# = fa_icon 'chevron-down', class: 'arrow-icon'
              %span 日

          %p.form-info_text ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
        .registration-main-container_box_send
          .check_box
          .termsofservice
            -# %p「メルカリを始める」のボタンを押すことにより
            -# =link_to 'https://www.mercari.com/jp/tos_list/', class: "termsofservice_text" do
            -#   利用規約
            -# %p に同意したものとみなします
            =link_to 'https://www.mercari.com/jp/tos_list/', class: "termsofservice_text" do
              「メルカリを始める」のボタンを押すことにより、利用規約に同意したものとみなします
          .registration-submit メルカリを始める

          .registration-help
            =link_to 'https://www.mercari.com/jp/help_center/article/423/', class: "registration-help_text" do
              本人情報の登録について

  = render "shared/simple-footer"

-# rails時に参考にする為コメントアウト
  -# %h2 Sign up
  -# = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  -#   = render "devise/shared/error_messages", resource: resource
  -#   .field
  -#     = f.label :email
  -#     %br/
  -#     = f.email_field :email, autofocus: true, autocomplete: "email"
  -#   .field
  -#     = f.label :password
  -#     - if @minimum_password_length
  -#       %em
  -#         (#{@minimum_password_length} characters minimum)
  -#     %br/
  -#     = f.password_field :password, autocomplete: "new-password"
  -#   .field
  -#     = f.label :password_confirmation
  -#     %br/
  -#     = f.password_field :password_confirmation, autocomplete: "new-password"
  -#   .actions
  -#     = f.submit "Sign up"
  -# = render "devise/shared/links"
