.wrapper
  
  = render 'root/header' 
  
  .main-container
    .main-container_contents
      .left-contents
        = render 'mypage/mypage-side'
      .right-contents
        %h2.contents-header
          本人情報の登録
        %form.contents-inner
          %div
            %p
              お客さまの本人情報をご登録ください。
              %br
              登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
            %p.text-top
              =link_to '#', class: 'delete-deco' do
                本人確認書類のアップロードについて
              = fa_icon 'chevron-right', class: 'arrow-right-icon'
          .form-area
            %label お名前
            %p 木下藤吉郎
          .form-area
            %label お名前カナ
            %p キノシタ トウキチロウ
          .form-area
            %label 生年月日
            %p 1500/7/11
          .form-area
            %label 郵便番号
            %input.input-default{placeholder: '例) 1234567'}
          .form-area
            %label 都道府県
            %select.select-prefecture
              %option ---
              %option{value: '1'}神奈川県
              %option{value: '1'}東京都
              %option{value: '1'}千葉県
            = fa_icon 'chevron-down', class: 'arrow-icon'
          .form-area
            %label 市区町村
            %input.input-default{placeholder: '例) 愛知県名古屋市'}
          .form-area
            %label 番地
            %input.input-default{placeholder: '例) 中区栄1-1-1'}
          .form-area
            %label 建物名
            %input.input-default{placeholder: '例) メゾン南蛮 201'}
          %button.btn-update.btn-red{:type => "submit"}
            登録する
          .text-bottom
            =link_to '#', class:'delete-deco' do
              本人情報の登録について
            = fa_icon 'chevron-right', class: 'arrow-right-icon'
  = render 'root/aside'
  = render 'root/footer'
  