.single
  = render 'shared/simple-header'
  .single-main
    %section.single-container.buy-item-container
      %h2.single-container.buy-item-container_single-head.bold 購入を確定しますか？
      %section.single-container.buy-item-container_buy-content.buy-item
        .buy-content-inner
          %h3.buy-item-image
            %img.is-higher-height.lazyloaded
              = image_tag(@product.images.first.name)
          %p.buy-item-name.bold
            = @product.name
          .buy-form
            %p.buy-price-ja.bold
              ¥ #{@product.price}
            %p.item-shipping-fee 送料込み
          %ul.buy-price-table
            %p.buy-price-cell 支払い金額
            %p.data-buy-pay ¥ #{@product.price}
          .buy-buy
            %p.buy-buy_btn{disabled: "disabled", type: "submit"} 購入する
            %input#user_info_is_not_complete{type: "hidden"}
      %section.buy-content.buy-user-info
        .buy-content-inner
          %h3 配送先
          %address.buy-user-info-text
            〒#{current_user.profile.zipcode}
            %br
            #{current_user.profile.prefecture}
            #{current_user.profile.city}
            #{current_user.profile.district}
            #{current_user.profile.building}
            %br
            #{current_user.profile.last_name}#{current_user.profile.first_name}
          .buy-user-info-text
            = link_to "変更する", {href: "/index"}, {class: "buy-user-info-fix"}
            = fa_icon "chevron-right", class: "icon"
      %section.buy-content.buy-user-info
        .buy-content-inner
          %h3 支払い方法
          %p.buy-user-info-text
            %br
          .buy-user-info-fix
            = link_to "変更する", {href: "/index"}, {class: "buy-user-info-fix"}
            = fa_icon "chevron-right", class: "icon"
  = render 'shared/simple-footer'
