.my-side
  %nav.mypage-navi
    %ul.mypage-navi_list
      %li.mypage-navi-list_li
        = link_to 'マイページ',user_index_path,class: "mypage-navi-list_li_item"
        %i.icon-arrow-right

      %li.mypage-navi-list_li
        = link_to 'お知らせ',user_index_path,class: "mypage-navi-list_li_item"
        %i.icon-arrow-right

      %li.mypage-navi-list_li
        = link_to 'やることリスト',user_index_path,class: "mypage-navi-list_li_item"
        %i.icon-arrow-right

      %li.mypage-navi-list_li
        = link_to 'いいね！一覧',user_index_path,class: "mypage-navi-list_li_item"
        %i.icon-arrow-right

      %li.mypage-navi-list_li
        = link_to '出品する',user_index_path,class: "mypage-navi-list_li_item"
        %i.icon-arrow-right

      %li.mypage-navi-list_li
        = link_to '出品した商品-出品中',user_index_path,class: "mypage-navi-list_li_item"
        %i.icon-arrow-right

      %li.mypage-navi-list_li
        = link_to '出品した商品-取引中',user_index_path,class: "mypage-navi-list_li_item"
        %i.icon-arrow-right

      %li.mypage-navi-list_li
        = link_to '出品した商品-売却済',user_index_path,class: "mypage-navi-list_li_item"
        %i.icon-arrow-right

      %li.mypage-navi-list_li
        = link_to '購入した商品-取引中',user_index_path,class: "mypage-navi-list_li_item"
        %i.icon-arrow-right

      %li.mypage-navi-list_li
        = link_to '購入した商品-過去の取引',user_index_path,class: "mypage-navi-list_li_item"
        %i.icon-arrow-right

      %li.mypage-navi-list_li
        = link_to 'ニュース一覧',user_index_path,class: "mypage-navi-list_li_item"
        %i.icon-arrow-right

      %li.mypage-navi-list_li
        = link_to '評価一覧',user_index_path,class: "mypage-navi-list_li_item"
        %i.icon-arrow-right

      %li.mypage-navi-list_li
        = link_to 'ガイド',user_index_path,class: "mypage-navi-list_li_item"
        %i.icon-arrow-right

      %li.mypage-navi-list_li
        = link_to 'お問い合わせ',user_index_path,class: "mypage-navi-list_li_item"
        %i.icon-arrow-right

    %h3.mypage-navi_head メルペイ
    %ul.mypage-navi_list
      %li.mypage-navi-list_li
        = link_to '売り上げ・振込申請',user_index_path,class: "mypage-navi-list_li_item"
        %i.icon-arrow-right

      %li.mypage-navi-list_li
        = link_to 'ポイント',user_index_path,class: "mypage-navi-list_li_item"
        %i.icon-arrow-right

    %h3.mypage-navi_head 設定
    %ul.mypage-navi_list
      %li.mypage-navi-list_li
        = link_to 'プロフィール',user_index_path,class: "mypage-navi-list_li_item"
        %i.icon-arrow-right

      %li.mypage-navi-list_li
        = link_to '発送元・お届け先住所変更',user_index_path,class: "mypage-navi-list_li_item"
        %i.icon-arrow-right

      %li.mypage-navi-list_li
        = link_to '支払い方法',user_index_path,class: "mypage-navi-list_li_item"
        %i.icon-arrow-right

      %li.mypage-navi-list_li
        = link_to 'メール/パスワード',user_index_path,class: "mypage-navi-list_li_item"
        %i.icon-arrow-right

      %li.mypage-navi-list_li
        = link_to '本人情報',user_index_path,class: "mypage-navi-list_li_item"
        %i.icon-arrow-right

      %li.mypage-navi-list_li
        = link_to '電話番号の確認',user_index_path,class: "mypage-navi-list_li_item"
        %i.icon-arrow-right

      %li.mypage-navi-list_li
        = link_to 'ログアウト',user_index_path,class: "mypage-navi-list_li_item"
        %i.icon-arrow-right