#session-sign-in

  .sign-in
    = render "shared/simple-header"
    .contents
      .sign_up
        %p アカウントをお持ちでない方はこちら
        = link_to signup_path, class: "sign_up__registrattion" do
          %p 新規会員登録

      .main
        .account-button.main__sns
          .facebook
            = link_to user_facebook_omniauth_authorize_path, class: "account-button__facebook" do
              facebookでログイン
            =fa_icon 'facebook-square'

          .google
            = link_to user_google_oauth2_omniauth_authorize_path, class: "account-button__google" do
              Googleでログイン
            =fa_icon 'google'

        .form
          .main
            = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
              .field.email
                = f.email_field :email, autofocus: true, autocomplete: "email", class: "form__enter" ,placeholder:"メールアドレス"
              .field.password
                = f.password_field :password, autocomplete: "current-password",class: "form__enter" ,placeholder:"パスワード"
                = f.submit "わたしはロボットではありません", class: "confirmbox"
              .foom__a.actions
                = f.submit "ログイン", class: "login"

          .forget-password
            = link_to "パスワードをお忘れの方", "#", class: "forget-password"
    = render "shared/simple-footer"
