-# %h1 Root#index
-# %p Find me in app/views/root/index.html.erb
.wrapper
  = render 'root/header'

  %body

  .body_main
    .slide-image
      = image_tag('')
    .product-container
      %h2.product-container_title
        ピックアップカテゴリー
      .product-container_box__clearfix
        .text_place 
          レディース 新着アイテム
        .product-container_contents__box-clearfix
          = render 'item-card'
          = render 'item-card'
          = render 'item-card'
          = render 'item-card'
        .view-more
          全ての商品を見る
      .product-container_box__clearfix
        .text_place 
          メンズ 新着アイテム
        .product-container_contents__box-clearfix
          = render 'item-card'
          = render 'item-card'
          = render 'item-card'
          = render 'item-card'
        .view-more
          全ての商品を見る
      .product-container_box__clearfix
        .text_place 
          ベビー・キッズ 新着アイテム
        .product-container_contents__box-clearfix
          = render 'item-card'
          = render 'item-card'
          = render 'item-card'
          = render 'item-card'
        .view-more
          全ての商品を見る
      .product-container_box__clearfix
        .text_place 
          コスメ・香水・美容 新着アイテム
        .product-container_contents__box-clearfix
          = render 'item-card'
          = render 'item-card'
          = render 'item-card'
          = render 'item-card'
        .view-more
          全ての商品を見る
    .product-container
      %h2.product-container_title
        ピックアップブランド
      .product-container_box__clearfix
        .text_place 
          シャネル 新着アイテム
        .product-container_contents__box-clearfix
          = render 'item-card'
          = render 'item-card'
          = render 'item-card'
          = render 'item-card'
        .view-more
          全ての商品を見る
      .product-container_box__clearfix
        .text_place 
          ルイ ヴィトン 新着アイテム
        .product-container_contents__box-clearfix
          = render 'item-card'
          = render 'item-card'
          = render 'item-card'
          = render 'item-card'
        .view-more
          全ての商品を見る
      .product-container_box__clearfix
        .text_place 
          シュプリーム 新着アイテム
        .product-container_contents__box-clearfix
          = render 'item-card'
          = render 'item-card'
          = render 'item-card'
          = render 'item-card'
        .view-more
          全ての商品を見る
      .product-container_box__clearfix
        .text_place 
          ナイキ 新着アイテム
        .product-container_contents__box-clearfix
          = render 'item-card'
          = render 'item-card'
          = render 'item-card'
          = render 'item-card'
        .view-more
          全ての商品を見る


    = render 'root/aside'
    = render 'root/footer'

    .footer_sell__button
      =link_to ''
      .footer_sell__circle
        .footer_sell__text
          出品
        .footer_sell__icon
          = fa_icon "camera", class: "icon fa-4x white"