.my-side
  %nav.mypage-navi
    %ul.mypage-navi_list

      %li.mypage-navi-list_li
        = link_to mypage_path,class: "mypage-navi-list_li_item" do
          マイページ
          = fa_icon "chevron-right", class: "mypage-navi-list_li_icon"

      %li.mypage-navi-list_li
        = link_to '#',class: "mypage-navi-list_li_item" do
          お知らせ
          = fa_icon "chevron-right", class: "mypage-navi-list_li_icon"

      %li.mypage-navi-list_li
        = link_to '#',class: "mypage-navi-list_li_item" do
          やることリスト
          = fa_icon "chevron-right", class: "mypage-navi-list_li_icon"

      %li.mypage-navi-list_li
        = link_to '#',class: "mypage-navi-list_li_item" do
          いいね！一覧
          = fa_icon "chevron-right", class: "mypage-navi-list_li_icon"

      %li.mypage-navi-list_li
        = link_to new_product_path,class: "mypage-navi-list_li_item" do
          出品する
          = fa_icon "chevron-right", class: "mypage-navi-list_li_icon"

      %li.mypage-navi-list_li
        = link_to '#',class: "mypage-navi-list_li_item" do
          出品した商品-出品中
          = fa_icon "chevron-right", class: "mypage-navi-list_li_icon"

      %li.mypage-navi-list_li
        = link_to '#',class: "mypage-navi-list_li_item" do
          出品した商品-取引中
          = fa_icon "chevron-right", class: "mypage-navi-list_li_icon"

      %li.mypage-navi-list_li
        = link_to '#',class: "mypage-navi-list_li_item" do
          出品した商品-売却済
          = fa_icon "chevron-right", class: "mypage-navi-list_li_icon"

      %li.mypage-navi-list_li
        = link_to '#',class: "mypage-navi-list_li_item" do
          購入した商品-取引中
          = fa_icon "chevron-right", class: "mypage-navi-list_li_icon"

      %li.mypage-navi-list_li
        = link_to '#',class: "mypage-navi-list_li_item" do
          購入した商品-過去の取引
          = fa_icon "chevron-right", class: "mypage-navi-list_li_icon"

      %li.mypage-navi-list_li
        = link_to '#',class: "mypage-navi-list_li_item" do
          ニュース一覧
          = fa_icon "chevron-right", class: "mypage-navi-list_li_icon"

      %li.mypage-navi-list_li
        = link_to '#',class: "mypage-navi-list_li_item" do
          評価一覧
          = fa_icon "chevron-right", class: "mypage-navi-list_li_icon"

      %li.mypage-navi-list_li
        = link_to '#',class: "mypage-navi-list_li_item" do
          ガイド
          = fa_icon "chevron-right", class: "mypage-navi-list_li_icon"

      %li.mypage-navi-list_li
        = link_to '#',class: "mypage-navi-list_li_item" do
          お問い合わせ
          = fa_icon "chevron-right", class: "mypage-navi-list_li_icon"

    %h3.mypage-navi_head メルペイ
    %ul.mypage-navi_list
      %li.mypage-navi-list_li
        = link_to '#',class: "mypage-navi-list_li_item" do
          売り上げ・振込申請
          = fa_icon "chevron-right", class: "mypage-navi-list_li_icon"

      %li.mypage-navi-list_li
        = link_to '#',class: "mypage-navi-list_li_item" do
          ポイント
          = fa_icon "chevron-right", class: "mypage-navi-list_li_icon"

    %h3.mypage-navi_head 設定
    %ul.mypage-navi_list
      %li.mypage-navi-list_li
        = link_to edit_mypage_profile_path(:id),class: "mypage-navi-list_li_item" do
          プロフィール
          = fa_icon "chevron-right", class: "mypage-navi-list_li_icon"

      %li.mypage-navi-list_li
        = link_to '#',class: "mypage-navi-list_li_item" do
          発送元・お届け先住所変更
          = fa_icon "chevron-right", class: "mypage-navi-list_li_icon"

      %li.mypage-navi-list_li
        = link_to mypage_creditcard_index_path,class: "mypage-navi-list_li_item" do
          支払い方法
          = fa_icon "chevron-right", class: "mypage-navi-list_li_icon"

      %li.mypage-navi-list_li
        = link_to '#',class: "mypage-navi-list_li_item" do
          メール/パスワード
          = fa_icon "chevron-right", class: "mypage-navi-list_li_icon"

      %li.mypage-navi-list_li
        = link_to '#',class: "mypage-navi-list_li_item" do
          本人情報
          = fa_icon "chevron-right", class: "mypage-navi-list_li_icon"

      %li.mypage-navi-list_li
        = link_to '#',class: "mypage-navi-list_li_item" do
          電話番号の確認
          = fa_icon "chevron-right", class: "mypage-navi-list_li_icon"

      %li.mypage-navi-list_li
        = link_to logout_path,class: "mypage-navi-list_li_item" do
          ログアウト
          = fa_icon "chevron-right", class: "mypage-navi-list_li_icon"
