.product-detail-message
  .product-detail-message_product-message
    - @comments.each do |comment|
      %p
        = "#{comment.user.nickname}:#{comment.body}"
    .product-detail-message_product-message__message-content
      = form_for @comment, class:"message-form" do |comment_form|
        %p="相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。"
        = comment_form.hidden_field :product_id, :value => product.id
        = comment_form.text_area :body, class:"textarea-default"
        = comment_form.submit 'コメントする', class:"message-submit btn-default btn-gray"
