%table.product_detail-table
  %tbody
    %tr
      %th 出品者
      %td
        = link_to mypage_path do
          = @product.user.nickname
        %p.user-evaluation
          = fa_icon 'smile-o lg', class: 'user-evaluation_face-pink'
          %span 2525
          = fa_icon 'meh-o lg', class: 'user-evaluation_face-orange'
          %span 0
          = fa_icon 'frown-o lg', class: 'user-evaluation_face-blue'
          %span 0
    %tr
      %th カテゴリー
      %td
        %div
          = link_to @category_grandchild.name, '#'
        %div
          = link_to @category_child.name, '#'
        %div
          = link_to @category_parent.name, '#'
    %tr
      %th ブランド
      %td
        = @product.brand
    %tr
      %th 商品の状態
      %td 
        = @product.state.name
    %tr
      %th 配送料の負担
      %td 
        = Shipping.fee_burdens[@product.shipping.fee_burden]
    %tr
      %th 配送の方法
      %td
        = Shipping.methods[@product.shipping.method]
    %tr
      %th 配送元地域
      %td
        = link_to Shipping.froms[@shipping.prefecture_from], '#'
    %tr
      %th 発送日の目安
      %td
        = Shipping.period_before_shippings[@product.shipping.period_before_shipping]
