%section.items-in-user-profile
  %section.items-box-container.clearfix.items-box-overflow.items-in-user-profile
    %h2.items-box-head
      = link_to mypage_path , style: 'text-decoration:none; color: #0099e8; font-size: 22px;' do
        = @user.nickname + 'さんのその他の出品'
    %section.items-box-content.clearfix
      - @users_products.each do |product|
        %section.product-card__position-left
          = link_to mypage_profile_path, class: "product-card_url" do
            .product-card-photo
              = image_tag product.images.first.name, class: "lazyloaded"
            .product-card-body
              %h3.product-card-body_name
                = product.name
              .product-card-body_num
                .product-card-body_num_price
                  = product.price
                .font-image
                  .like-icon
                    = fa_icon 'heart', class: 'icon-like-border'
                  .like-count 10
              %p.product-card-tax (税込)
    %h2.items-box-head
      = link_to '#' , style: 'text-decoration:none; color: #0099e8; font-size: 22px;' do
        = 'ピアス （ハンドメイド） その他の商品'
    %section.items-box-content.clearfix
      - @product.images.limit(6).each do |image|
        %section.product-card__position-left
          = link_to mypage_profile_path, class: "product-card_url" do
            .product-card-photo
              = image_tag image.name, class: "lazyloaded"
            .product-card-body
              %h3.product-card-body_name
                = @brand.name
              .product-card-body_num
                .product-card-body_num_price
                  = "¥500"
                .font-image
                  .like-icon
                    = fa_icon 'heart', class: 'icon-like-border'
                  .like-count 10
              %p.product-card-tax (税込)
