%table.product_detail-table
  %tbody
    %tr
      %th 出品者
      %td
        = link_to mypage_path do
          = @user.nickname
        %p.user-evaluation
          = fa_icon 'smile-o lg', class: 'user-evaluation_face-pink'
          %span 2525
          = fa_icon 'meh-o lg', class: 'user-evaluation_face-orange'
          %span 0
          = fa_icon 'frown-o lg', class: 'user-evaluation_face-blue'
          %span 0
    %tr
      %th カテゴリー
      %td
        %div
          = link_to @category_grandchild.name, '#'
        %div
          = link_to @category_child.name, '#'
        %div
          = link_to @category_parent.name, '#'
    %tr
      %th ブランド
      %td
        = @product.brand
    %tr
      %th 商品の状態
      %td 新品、未使用
    %tr
      %th 配送料の負担
      %td 送料込み(出品者負担)
    %tr
      %th 配送の方法
      %td 普通郵便(定形、定形外)
    %tr
      %th 配送元地域
      %td
        = link_to @shipping.prefecture_from, '#'
    %tr
      %th 発送日の目安
      %td 1~2日で発送
