.items-in-user-profile
%section.items-box-container.clearfix.items-box-overflow.items-in-user-profile
  %h2.items-box-head
    = link_to 'JUNNAさんのその他の出品', '#' , style: 'text-decoration:none; color: #0099e8; font-size: 22px;'
  .items-box-content.clearfix
    = render 'product-item-card'
    = render 'product-item-card'
    = render 'product-item-card'
    = render 'product-item-card'
    = render 'product-item-card'
    = render 'product-item-card'
  %h2.items-box-head
    = link_to 'ピアス （ハンドメイド） その他の商品', '#' , style: 'text-decoration:none; color: #0099e8; font-size: 22px;'
  .items-box-content.clearfix
    = render 'product-item-card'
    = render 'product-item-card'
    = render 'product-item-card'
    = render 'product-item-card'
    = render 'product-item-card'
    = render 'product-item-card'
    