- breadcrumb :product, @product
.item-main-container
  .item-box-container
    .item-box-container_item-cover
      %h1.item-box-container_item-cover__item-name
        = @product.name
      .item-box-container_item-cover__item-main-content
        .item-photo

          .owl-carousel.owl-loaded.owl-drag
            - @product.images.each do |image|
              .owl-stage-outer
                = image_tag image.name.url, width: "300", height: "300"

        = render "product-right-inf"
        = render "product-down-inf"

        - if user_signed_in? && @product.user_id != current_user.id
          - if @product.status_id == 1            
            %p.product-buy
              = link_to "購入画面に進む", transaction_buy_path, class: "product-buy_btn"

        .item-description 
          %p.item-description-inner
            = @product.description
        .item-button-container.clearfix
          .item-button-left
            %button.item-button.item-button-like
              %span ♡  いいね!
              %span.fade-in-down  8
            %button.item-button.item-button-report.clearfix
              %span ✔︎  不適切な商品の報告
          .item-button-right
            %button.item-button-safe
              %span ※  あんしん・あんぜんへの取り組み

  - if user_signed_in? && @product.user_id == current_user.id
    = render "product-edit"

  = render "product-comment"
  = render "product-link"
  = render "product-sns"
  = render partial: 'product-user-profile', colletion: @users_products

= render 'root/footer'
