!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", http: { equiv: "Content-Type" } }/
    %title freemarket_sample_50c
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    - if controller.controller_name == "mypage" || "products" || "logout"
      = render './root/header'
      = breadcrumbs separator: " #{content_tag(:i, '', :class=>'fa fa-caret-right')} "
      = yield
    - else
      = yield
-# - if controller.action_name == "new" ##　newアクションの場合
-#    式
-# - else                               ##　newアクション以外の場合
-#    式