!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", http: { equiv: "Content-Type" } }/
    %title freemarket_sample_50c
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all','data-turbolinks-track': 'reload'
    %link{href: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css", rel: "stylesheet", type: "text/css"}/
    = javascript_include_tag 'application','data-turbolinks-track': 'reload'
    %script{src: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js", type: "text/javascript"}

  %body
    - if controller.controller_name == "mypage" || "products" || "logout"
      = render './root/header'
      = breadcrumbs separator: " #{content_tag(:i, '', :class=>'fa fa-caret-right')} "
      = yield
    - else
      = yield
-# - if controller.action_name == "new" ##　newアクションの場合
-#    式
-# - else                               ##　newアクション以外の場合
-#    式
