!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", http: { equiv: "Content-Type" } }/
    %title freemarket_sample_50c
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    -# =render './root/header'
    -# = breadcrumbs separator: " #{content_tag(:i, '', :class=>'fa fa-caret-right')} "
    = yield
    